<h1>Edit Wiki </h1>

<div class="row">
  <div class="col-md-6">
    <p> Edit your Wiki. </p>
    <%=form_for @wikis do |f| %>
<!-- errors list -->
      <% if @wikis.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@wikis.errors.count, "error")%>.</h4>
          <ul>
            <% @wikis.errors.full_messages.each do |msg| %>
              <li><%= msg %> </li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', autofocus: true, placeholder: 'Enter Wiki Title'%>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 8, class:'form-control', placehold: 'Enter Wiki Body'%>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
