 <h1>Create a new Wiki</h1>


<div class="row">
  <div class="col-md-6">
    <%=form_for @wikis do |f| %>
      <% if @wikis.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@wikis.errors.count, "error")%>.</h4>
          <ul>
            <% @wikis.errors.full_messages.each do |msg| %>
              <li><%= msg %> </li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', autofocus: true, placeholder: 'Enter Wiki Title' %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 8, class:'form-control', placeholder: 'Enter Wiki Body' %>
          <small>This site supports markdown syntax. For more information, click <%= link_to 'here', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' %> </small>
        </div>

        <div class="form-group">
          <%= f.submit "Save", class:'btn btn-primary submit-button' %>

          <% if current_user.admin? || current_user.premium? %>
                <%= f.label :private, class: 'checkbox' do %>
                <%= f.check_box :private%> Private wiki
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
