 <h1>Create a new Wiki</h1>


<div class="row">
  <div class="col-md-6">
    <%=form_for @wikis do |f| %>
      <% if @wikis.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@wikis.errors.count, "error")%>.</h4>
          <ul>
            <% @wikis.errors.full_messages.each do |msg| %>
              <li><%= msg %> </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', autofocus: true, placeholder: 'Enter Wiki Title' %>

        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class:'form-control', placeholder: 'Enter Wiki Body' %>

        <%= f.submit "Save", class:'btn btn-primary submit-button' %>

        <% end %>
    </div>
  </div>
