<p class="index-link"><%= link_to "Back to Wiki Index", wikis_path %></p>

<%= link_to "Edit Wiki", edit_wiki_path(@wikis), class:"btn btn-success"%>
<%= link_to "Delete Wiki", @wikis, method: :delete, class:"btn btn-danger"%>
<h2 class="page-header"><%=markdown(@wikis.title) %><small> Created by <%=@wikis.user.name%></small></h2>

 <% @wikis.collaborators.each do |c| %>
   <ul>
     <li><%=c.name%> </li>
   </ul>
<%end%>

<% if @wikis.private? == false %>
<h6 class="wiki_private"> Public Wiki</h6>
<% else %>
<h6 class="wiki_private">Private Wiki </h6>
<% end %>

<!-- <%= @wikis.private? %> -->

</br>
<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wikis.body) %></p>
  </div>
</div>
