<p class="index-link"><%= link_to "Back to Wiki Index", wikis_path %></p>

<%= link_to "Edit Wiki", edit_wiki_path(@wiki), class:"btn btn-success"%>
<%= link_to "Delete Wiki", @wiki, method: :delete, class:"btn btn-danger"%>

<h2 class="page-header">
  <%=markdown(@wiki.title) %>
  <small> Created by <%=@wiki.user.name%> |
  <% if @wiki.private? == false %>
    Public Wiki
  <% else %>
    Private Wiki
  <% end %>
  </small>
</h2>
<div class="collaborators" >

<% if  @wiki.collaborators.exists? %>
  <strong>Collaborators:</strong>
    <% @wiki.collaborators.each do |c| %>
      <small><%=c.name%> | </small>
    <% end %>
<%end%>
</div>




</br>
<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
</div>
